@model dotNet6_Mvc_Crud_App.Models.UpdateEmployeeViewModel
@{
}
<h1>Edit Employee</h1>
<form method="post" action="View" class="mt-4">
    <div class="mb-3">
        <label for="inputId" class="form-label">Id</label>
        <input type="text" class="form-control" id="inputId" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="inputDateOfBirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="inputDateOfBirth" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="inputSalary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="inputSalary" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="selectDepartment" class="form-label">Department</label>
        <select class="form-control" id="selectDepartment" asp-for="Department">
            <option value="Finance">Finance</option>
            <option value="Service support">Service support</option>
            <option value="Sales">Sales</option>
            <option value="Legal">Legal</option>
            <option value="Customer servic">Customer service</option>
            <option value="Administration">Administration</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-danger" asp-controller="Employee" asp-action="Delete">Delete</button>
</form>
